/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2022, 2:50:18 PM
    Author     : quckh
*/

.img{
    height: 828.545px;
    width: 1519px;
}
.h2{
    text-align: center;
}
p1p2p3{
    text-align: center;
}
.list-img{
    width: 327px;
    height: 228.9px; 
    padding: 0;
}
.row {
    padding-left: 0;
    padding-right: 0;
}
/*.padding-0{
    padding-left: 0;
    padding-right: 0;
}*/
.list-img2{
    width: 654px;
    height: 300px;
}
body{
    height: 100%
}

.parent{
    margin-left: 85px;
    align-items: center;
    justify-content: center;
}

.tab{
    height: 300px;width: 340px; background-color: white;
}





























